@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

ol,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #fff;
  --balck-color: #000;
  --secondary-color: #212529;
  --primary-color: #ff553e;
}

/*
=====================
Top Headere
=====================
*/
/* .navigation_wrapper {
} */
.navbar {
  z-index: 1000 !important;
}
.top-header {
  color: var(--white-color);
  background-color: var(--secondary-color);
  font-family: "Dosis", sans-serif;
  font-size: 14px;
}

.navigation_wrapper .nav-item {
  margin-left: 8px;
  margin-right: 8px;
}

.navigation_wrapper .nav-item .nav-link {
  color: var(--white-color);
  font-size: 14px;
  padding: 15px 8px 8px 8px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}

.navbar .nav-item .nav-link:hover {
  color: var(--primary-color);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler {
  outline: none;
  box-shadow: none;
  color: var(--white-color);
}

.navigation_wrapper.on_scroll {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--balck-color);
  transition: all 0.01s ease-in-out;
  z-index: 1000;
  margin-top: 0;
}

.show-btn {
  font-size: 18px;
  font-weight: 700;
  color: var(--white-color);
  display: inline-block;
  font-family: "Dosis", sans-serif;
}

.show-btn::after,
.show-btn::before {
  margin-right: auto;
  margin-left: auto;
  height: 0.5px;
  background-color: var(--white-color);
  content: "";
  display: block;
  width: 130px;
  transition: transform 0.5s linear;
  transform-origin: left bottom;
}

.show-btn::before {
  margin-bottom: 8px;
  transition: transform 0.5s linear;
  transform-origin: left top;
}

.show-btn::after {
  margin-top: 8px;
  transition: transform 0.5s linear;
  transform-origin: left top;
}

.show-btn:hover::before {
  transform: rotate(18deg);
  background-color: var(--primary-color);
}

.show-btn:hover::after {
  transform: rotate(-18deg);
  background-color: var(--primary-color);
}

/*
===================== 
Carousel 
===================== 
*/
#cmt_carousel {
  z-index: -1 !important;
}

.carousel {
  margin-top: -85px;
}

.carousel-caption {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 80%;
  font-family: "Dosis", sans-serif;
}

.carousel-caption h2 {
  font-size: 48px;
  font-weight: 400;
}

/*
==================
New Arrivals
==================
*/
#new_arrivals {
  padding-top: 60px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding-bottom: 85px;
}

#new_arrivals h2 {
  font-weight: 600;
}

#new_arrivals h2,
#new_arrivals p {
  font-family: "Dosis", sans-serif;
}

.img-box {
  padding: 0;
  margin-top: 15px;
}

.img_caption {
  position: absolute;
  top: 90%;
  transform: translateY(-90%);
  padding-left: 15px;
  padding-right: 15px;
}

.img_caption h3 {
  font-size: 25px;
  font-weight: 600;
  font-family: "Dosis", sans-serif;
}

.img_caption p {
  font-family: "Dosis", sans-serif;
}
.show-btn {
  margin: auto;
}

.img-box:nth-child(2) .img_caption {
  color: var(--balck-color);
}

.img-box:nth-child(2) .img_caption .show-btn {
  color: var(--balck-color);
}

.img-box:nth-child(2) .img_caption .show-btn:hover {
  color: var(--primary-color);
}

.img-box:nth-child(2) .img_caption .show-btn::before,
.img-box:nth-child(2) .img_caption .show-btn::after {
  background-color: var(--balck-color);
}

/*
====================== 
section-4 Best Sellers 
====================== 
*/

#best_sellers {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: var(--balck-color);
  font-family: "Dosis", sans-serif;
}

.best_sellers_heading h3 {
  color: var(--white-color);
  margin-bottom: 10px;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-item .nav-link {
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 20px;
  padding: 4px 20px;
}

.nav-tabs .nav-item .nav-link:hover {
  color: var(--primary-color);
}

.nav-tabs .nav-item .nav-link.active {
  background-color: transparent;
}

.nav-tabs .nav-item:nth-child(2) .nav-link {
  margin-left: 15px;
  margin-right: 15px;
}

#best_sellers img {
  transition: all 0.3s linear;
}

#best_sellers img:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}

.tab_img_caption {
  margin-bottom: 10px;
}

.tab_img_caption .tab_img_info span,
.tab_img_caption .tab_img_info i {
  color: var(--white-color);
  opacity: 0.6;
}

.tab_img_caption p {
  font-size: 18px;
  color: var(--white-color);
  font-size: "Dosis", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab_img_caption .price {
  color: var(--white-color);
}

.tab_img_caption .feedback {
  color: #f4d632;
}

.tab_img_caption .feedback div + i {
  color: var(--white-color);
}

/* 
===================
Deal Of The Day 
=================== 
*/

#dealOfTheDay {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: var(--secondary-color);
}

#dealOfTheDay img {
  border: 1px solid var(--white-color);
}

.dealImgInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
==========================
Latest Section Blog
==========================
*/

#latestNews {
  background-color: var(--balck-color);
  color: var(--white-color);
  font-family: "Dosis", sans-serif;
  padding-top: 85px;
  padding-bottom: 85px;
}

#latestNews h2 {
  font-size: 25px;
}

#latestNews p {
  opacity: 0.6;
}

.newsImgInfo {
  margin-top: 15px;
}

/*
====================== 
Footer Section  
======================
*/
footer {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.icon i {
  font-size: 24px;
}

.icon i:hover {
  color: var(--primary-color);
}

.icon i:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}
